.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 14px 18px 16px;
    /* background-color: rgb(255, 255, 255); */

}

.header_left {
    display: flex;
    align-items: center;
}

.header_middle {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_yt_logo {
    height: 20px;
    margin-left: 15px;
}

.header_inputSearch {
    display: flex;
    align-items: center;

}